    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is this thing anyway?</h2>
            <p class="intro text-center">This is where we write things about how awesome the WebSDK is and, I suppose, what it actually is in the first place. Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed for developers</h3>
                        <p>Quisque magna tortor, varius at urna at, efficitur mollis leo. Duis pulvinar, libero sed facilisis facilisis, mi elit venenatis metus, quis venenatis urna tellus ut.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>Phasellus efficitur dui ac nisl feugiat pellentesque. Phasellus efficitur, sapien eu facilisis euismod, leo est rhoncus risus, vitae ornare velit arcu vitae mauris. Interdum et.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Performant</h3>
                        <p>Sed ac orci consectetur, ullamcorper eros vel, auctor lacus. Phasellus interdum facilisis semper. Nam dictum facilisis enim sed euismod. In dignissim auctor diam, eu porta.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Mobile-friendly</h3>
                        <p>Cras faucibus in metus nec venenatis. Aenean eget interdum arcu, ut commodo justo. Curabitur tempor nisl non posuere ultrices. Ut lobortis commodo diam, ac egestas.</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to customize</h3>
                        <p>Nulla ultricies, ex eget ullamcorper condimentum, leo velit aliquam magna, non pretium arcu massa sed felis. Donec sapien turpis, pellentesque volutpat maximus nec, ullamcorper eget.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Batteries included</h3>
                        <p>Proin aliquet elementum feugiat. Nam gravida, risus at auctor iaculis, orci arcu viverra magna, eget tincidunt nisi magna sagittis sem. Cras sagittis, augue nec pulvinar.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
