    <!-- ******DOCS****** --> 
    <section id="get-started" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>            
            <div class="block">
                <p>Beginning your journey of magical application development couldn't be simpler. To begin, install WebSDK.</p>
                <div class="code-block">
                    <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                    <pre><code class="language-markup">
    npm install -g websdk
                     </code></pre>
                </div><!--//code-block-->
            </div><!--//block-->
            <div class="block">
                <h3 class="sub-title text-center">Hello Resourceful</h3>
                <p>Starting from a blank slate could be daunting. We've prepared a wonderful, easy to follow tutorial to help you get on your way. We'll build a complex application from scratch, and you'll see just how easy it is!</p>
                <br />
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="http://websdk.github.io/tutorial-demo/">Build an app</a>
                </p>
            </div><!--//block-->
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
