    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Web<span class="highlight">SDK</span></h2>
            <p class="intro">A most rambunctious framework for tomorrow's next generation web application development – today!</p>
            <div class="btns">
                <a class="btn btn-cta-secondary scrollto" href="#get-started">Get started</a>
                <a class="btn btn-cta-primary" href="#">Download</a>
            </div>
            <ul class="meta list-inline">
                <li><a href="https://github.com/websdk">View on GitHub</a></li>
                <li><a href="#">Full Documentation</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="github-star"><iframe src="http://ghbtns.com/github-btn.html?user=mdo&repo=github-buttons&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
                    <!--//
                    <li class="github-follow"><iframe src="http://ghbtns.com/github-btn.html?user=mdo&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></li>
                    -->
                </ul>
            </div>
        </div>
    </section><!--//promo-->
