    <!-- ******showcase****** --> 
    <section id="showcase" class="about showcase section">
        <div class="container">
            <h2 class="title text-center">Built with WebSDK.</h2>
            <p class="intro text-center">This is where we highlight cool projects and things, to really sell the point that the WebSDK is the bees knees. Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <img class="showcase item" src="{{ site.baseurl }}public/images/lyft-thumb.jpg">
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <img class="showcase item" src="{{ site.baseurl }}public/images/vogue-thumb.jpg">
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <img class="showcase item" src="{{ site.baseurl }}public/images/newsweek-thumb.jpg">
                </div><!--//item-->            
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//showcase-->
